button{
padding: 5px;
width: 150px;
margin-right: 15px;
background-color: hsla(0,0%,100%,.125);
border-radius: 5px;
color:white;

}
input{
padding: 5px;
width: 200px;
margin-right: 10px;
border-radius: 10px;
border: 0;
background-color: hsla(0,0%,100%,.125);

}

